
/* --- ############# xxx ############# --- */
*{
  box-sizing: border-box;
}

/* --- ############# TMPs ############# --- */
h1,h2,h3,h4,.logo-font{
font-family: "", sans-serif;
}

pre,code,.mono{
 font-family: "", monospace;
}

body{
font-family: "", sans-serif;
}

/* --- ############# xxx ############# --- */
.color-main{color: #;}
.color-alt{color: #;}
.color-bg{color: #;}

/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


